@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(21, 22, 22);
}

.header {
    display: flex;
    background: rgb(21, 22, 22);
    justify-content: space-between;
}
.logo {
    margin-left: 12px;
    margin-top: 3px;
    max-width: 100%;
}
.hamburger-btn{
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    /* background: #F38A03; */
}
.hamburger{
    border: none;
    background: transparent;
    padding: 25px 25px;
}

.hamburger-btn::after, 
.hamburger-btn::before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 25px;
    height: 2px;
    background: #F38A03;

}

.hamburger-btn::after {
    left: 0;
    top: -10px
}

.hamburger-btn::before {
    left: 0;
    bottom: -10px
}

.menu-list{
    position: absolute;
    right: 0;
    top: 0;
    height: 50%;
    background: #000;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    transform: translateX(-700%);
    transition: transform 500ms;
}

.menu-list:target{
    transform: translateX(0);
}
.menu-list li {
    padding: 20px;
    color: #fff;
    font-size: 20px;
}

.menu-list li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}

.menu-list li a:hover {
    color:#ED1260;
}



.main-title {
    display: inline-block;
    background-color: #000;
    padding: 41px 31px;
    margin-left: 12px;
    margin-top: 37px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.website-link {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    color: #fff;
    background-color: #000;
    padding: 7px 32px;
    font-size: 16px;
    margin-left: 75px;
    margin-top: 15px;

}
.pink-block{
    background: #ED1260;
    height: 64.56px;
    width: 265.9px;

}

.wrapper {
    margin: 0 auto;
}

.top-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.top-section {
    background-image: url(./img/zal.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 90% 0%;
    height: 460px;
    width: 100%;
}
.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 38px;
}


.section_description p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
}

.section_description {
    width: 265px;
}

.option_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    width: 311px;
}

.option-card-items p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    padding: 13px 0px 20px 0px;
}

.option-card-items  img {
    text-align: center;
}
.option-card-items  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.map {
    position: relative;
    margin: 15px;
    border: 5px solid #ED1260;
}
.map img {
    padding: 15px;
    width: 100%;
}
.map i {
    color: #ED1260;
    position: absolute;
    left: 52%;
    top: 26%
}
.map-adress {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    text-align: center;
    padding: 7px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #F38A03;
    justify-content: space-between;
    margin-top: 63px;
    
}

.contacts h2 {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 26px;
}
.contact-card {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-bottom: 5px;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    
}

.contact-icon i {
    color: #F38A03;
    font-size: 22px;
}

.contact-icon {
    display: flex;
    align-items: center;
}

.contact-card div {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-bottom: 5px;
    width: 160px;
}

.contacts-block {
    width: 216px;
}

.sub-item {
    display: none;
    font-size: 25px;
    line-height: 30px;
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }
    .wrapper {
        width: 768px;
    }
    .menu-list {
        position: unset;
        transform: unset;
        border: unset;
        box-shadow: unset;
        background: transparent;
        height: unset;
        width: 60%;
    }
    .menu-list li:nth-child(1) {
        display: none;
    }
    .menu-list ul {
        display: flex;
        justify-content: space-between;
    }
    .map i {
        top: 29%
    }
}

@media(min-width: 1280px) {
    .wrapper {
        width: 1064px;
        
    }
    .top-block {
        flex-direction: unset;
        align-items: unset;
    }
    .pink-block {
        width: 107px;
        height: 347px  
    }
    .section_description{
        width: unset;
    }
    .section_description p {
        font-size: 25px;
        line-height: 30px;
    }
    .option_cards {
        width: 100%;
    }
    .option-card-items {
        width: 33%;
        margin-top: 90px;
    }
    .option-card-items  p{
        font-size: 18px;
        line-height: 22px;
        padding: 10px 55px;
    }
    .map-adress {
        font-size: 22px;
        line-height: 27px;
    }
    .map {
        width: 579px;
        margin: 150px auto 0 auto;
        
    }
    .map i {
        top: 29%
    }
    .contacts {
        display: block;
        border: unset;
        margin-bottom: 71px ;
    }

    .contacts h2 {
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 81px;
    }
    .contacts-block {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .contact-icon {
        align-items: center;
        margin-bottom: 20px;
    }
    .contact-icon i {
        font-size: 30px;
    }
    .contact-card {
        justify-content: unset;
        flex-direction: column;
    }
    .contact-card div {
        width: unset;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .sub-item {
        display: unset;
        align-self: center;
    }
}
