@mixin footer-icon {
    padding: 12px;
    border: 2px solid;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 14px;
  }
@mixin flexcolumn {
    display: flex;
    flex-direction: column;
}  