#menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center; 
    position: relative;
    top: 23px;
    width: 44px;
    height: 37px;
    cursor: pointer;
    z-index: 1;
    background: black;
  }
  .menu__btn > span{
      margin-left: 13px;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 17px;
    height: 2px;
    background-color: white;
  }
  .menu__btn > span::before {
    content: '';
    top: -4px;
  }
  .menu__btn > span::after {
    content: '';
    top: 4px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: -20px;
    right: 0px;
    left: -100%;
    width: max-content;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
  }
  


.menu__box li:hover {
    background: #F5F5F5;
}
.menu__item {
    display: block;
    padding: 4px 105px 0 13px;
    background: #FFFFFF;
    color: #4E4E4E;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    line-height: 22px;
    text-align: left;
    border-bottom: 2px  solid  #F5F5F5;
  }
  .menu__item:hover {
    color: #57A4A4;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: unset;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }
  .menu__box {
    transition-duration: 2.25s;
  }
  .menu__item {
    transition-duration: 1.25s;
  }
  @media(min-width: 768px) {
    #menu__toggle {
        display: none;
      }
      .menu__btn{
          display: none;
      }
      .menu__box {
        justify-content: space-around;
        display: flex;
        position: unset;
        visibility: unset;
        top: unset;
        right: unset;
        left: unset;
        width: 630px;
        margin: 42px auto;
        list-style: none;
        text-align: center;
        padding: unset;
      }
      .menu__item {
        border-bottom: none;
        padding: unset;
  
      }
  }
