@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.firstBlock {
    background: url('../img/bg/section-1(header).jpg');
    background-attachment: fixed;
    height: 1344px;
   }
.header{
    display: flex;
    background-color: rgba(0,0,0, 0.5);
    height: 120px;
    justify-content: space-around;
}
.left-logo {
    display: flex;
    align-items: center;
}
.logoH {
    font-weight: bold;
    font-size: 40px;
    line-height: 0.78;
    color: #FFF;
    text-decoration: none;
    text-align: center;

}
.hexagon {
    position: relative;
    width: 58px; 
    height: 33.49px;
    background-color: #18cfab;
    margin: 16.74px 0;
  }
  .hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 29px solid transparent;
    border-right: 29px solid transparent;
  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 16.74px solid #18cfab;
  }
  
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 16.74px solid #18cfab;
  }
.logoBlockText {
    margin-left: 8px;
}
.logo-text1 {
    font-size: 31px;
    line-height: 2.08;
    text-align: left;
    color: #ffffff;
    font-weight: bold;

}
.logo-text2 {
    font-size: 31px;
    font-weight: bold;
    line-height: 2.08;
    text-align: left;
    color: #18cfab;
}

.menuList{
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menuItems{
    padding-bottom: 51px;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: #b8b8b8;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 53px;
    border-bottom: 1px solid transparent;
}
.menuItems:hover{
    color: #18cfab;
    border-bottom: 1px solid #18cfab;
}
.contentFirst{
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
.hamIs{
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding-top: 200px;
    font-size: 35px;
}
.wordPressTheme{
    color: #18cfab;
}
.weAreCreative{
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    font-size: 79px;
    margin-top: 35px;
    font-weight: 900;
}
.justBuy{
    color: #d4d4d4;
    font-size: 34px;
    text-align: center;
    margin-top: 36px;
}
.buttonBlock{
    text-align: center;
}
.buttonGreen{
    text-transform: uppercase;
    width: 166px;
    height: 61px;
    padding: 15px 20px;
    background-color: #18cfab;
    color: #ffffff;
    font-size: 14px;
    border: none;
    border-top: 5px solid #ffffff;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 100px;
}
.buttonPurchase{
    text-transform: uppercase;
    width: 166px;
    height: 61px;
    padding: 15px 20px;
    margin-left: 20px;
    background-color: #00cbf6;
    color: #ffffff;
    font-size: 14px;
    border: none;
    border-top: 5px solid #ffffff;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 50px;
}
/* color blocks */
.infoBlocks{
    margin-top: 270px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.infoBlocksBlock{
    width: 480px;
    height: 374px;
    background-color: #18cfab;
    border-top: 7px solid #ffffff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.infoBlocksBlock:nth-child(odd){
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
}
.infoBlocksText{
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 30px;
    font-size: 20px;
}
.infoBlocksImg {
    height: 100px;
    width: 100px;
}
.green{
    color: #18cfab;
}
.wrapper {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 103px;
}
/* our services tabs  */
.titles {
    color: #4e4e4e;
    font-size: 36px;
    text-align: center;
    margin-top: 82px;
}
.titleLine1 {
    width: 76px;
    border: 1px solid #18cfab;
    box-shadow: 18px 5px #18cfab;
    margin: 37px auto 70px;
}
.tabsTitles {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: inherit;
    color: #717171;
}
.tabsContent{
    display: none;
    background: #FFF;
    margin-top: 30px;

}
.tabsTitles  li {
    width: 193px;
    height: 73px;
    background: #f8fcfe;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eeeeef;

}
.tabsTitles  li:not(.active) {
    cursor: pointer;
}
.tabsTitles  .active {
    background: #18cfab;
    color: #fff;
    position: relative;
    border: 1px solid #18cfab;
}
.tabsTitles  .active:before {
    content: '▼';
    position: absolute;
    bottom: -23px;
    left: 83px;
    right: 0;
    color: #18cfab;
    font-size: 29px;
}
.tabsContent{
    display: none;
    background: #FFF;
    margin-top: 30px;

}
.tabsContent.active {
    display: block;
}
.imgFromTab{
    float: left;
    margin-right: 20px;
    height: 139px;
    width: 194px;
}
.textFromTab{
    color: #777777;
    font-size: 14px;
    text-align: justify;
    line-height: 1.7;
}
/* secondBlock */
.secondBlock {
    background: url('../img/bg/section-2.jpg');
    background-attachment: fixed;
    height: 473px;
    margin-top: 206px;
}
.blackBlur {
    background-color: rgba(0,0,0, 0.5);
    height: 473px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ready {
    color: #18cfab;
    font-size: 40px;
    font-weight: bold;
}
.smooth {
    margin-top: 35px;
    font-size: 16px;
    color: #d8d8d8;
}
/* our amazing work */
.amazingWorkSection {
    border-bottom: 1px solid #eff0f1;
}
.menu {
    display: flex;
    justify-content: center;
}
.menuItemsWork {
    border: 1px solid #eff0f1;
    padding: 25px 20px;
}
.menuItemsWork-active{
    color: #18cfab;
    border-top: 2px solid #18cfab ;
}

.itemsList {
    margin-top: 72px;
}
.picList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.noVisible{
    display: none;
}
.picSeT {
    width: 286px;
    height: 208px;
    border: none;
    outline: none;
}

.pic1{
background-image: url('../img/gd/graphic-design1.jpg');
}
.pic2{
    background-image: url('../img/gd/graphic-design2.jpg');
}
.pic3{
    background-image: url('../img/gd/graphic-design3.jpg');
}
.pic4{
    background-image: url('../img/gd/graphic-design4.jpg');
}
.pic5{
    background-image: url('../img/wp/wordpress1.jpg');
}
.pic6{
    background-image: url('../img/wp/wordpress2.jpg');
}
.pic7{
    background-image: url('../img/wp/wordpress3.jpg');
}
.pic8{
    background-image: url('../img/wp/wordpress4.jpg');
}
.pic9{
    background-image: url('../img/wd/web-design1.jpg');
}
.pic10{
    background-image: url('../img/wd/web-design2.jpg');
}
.pic11{
    background-image: url('../img/wd/web-design3.jpg');
}
.pic12{
    background-image: url('../img/wd/web-design4.jpg');
}
.pic13{
    background-image: url('../img/lp/landing-page1.jpg');
}
.pic14{
    background-image: url('../img/lp/landing-page2.jpg');
}
.pic15{
    background-image: url('../img/lp/landing-page3.jpg');
}
.pic16{
    background-image: url('../img/lp/landing-page4.jpg');
}
.pic17{
    background-image: url('../img/lp/landing-page4.jpg');
}
.pic18{
    background-image: url('../img/lp/landing-page4.jpg');
}
.pic19{
    background-image: url('../img/lp/landing-page4.jpg');
}
.pic20{
    background-image: url('../img/lp/landing-page4.jpg');
}
.pic21{
    background-image: url('../img/lp/landing-page4.jpg');
}
.pic22{
    background-image: url('../img/lp/landing-page4.jpg');
}
.pic23{
    background-image: url('../img/lp/landing-page4.jpg');
}
.pic24{
    background-image: url('../img/lp/landing-page4.jpg');
}

.picSeT:hover .picAdditional{
    display: flex;
}
.picAdditional {
    display: none ;
    border-top: 2px solid  #18cfab;
    height: 208px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.picLinks a {
    text-decoration: none;
}
.pic-icon {
    border: 1px solid #18cfab;
    padding: 18px;
    border-radius: 50%;
    color: #18cfab;;
}
.pic-icon:hover {
    background-color: #18cfab;
    color: white;
}
.picTitle {
    text-transform: uppercase;
    color: #18cfab;
    font-weight: bold;
    font-size: 14px;
    margin-top: 35px;
}
.picCategory {
    color: #8a8a8a;
    font-weight: 300;
    font-size: 12px;
    margin-top: 14px;
}







.preLoad {
    width: 200px;
    height: 200px;
    margin: 0 500px;
    display: none;
}
.loadMore{
    text-transform: uppercase;
    width: 165px;
    height: 60px;
    padding: 15px 20px;
    background-color: #18cfab;
    color: #ffffff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 70px;
    margin-bottom: 100px;
    transform: translate(-50%,0);
    left: 50%;
    position: relative;
}
.fa-plus {
    font-size: 16px;
    font-weight: bold;
    margin-right: 16px;
}


/* Breaking news  */

.newsBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.blogBlock{
    width: 264px;
    height: 280px;
    display: flex;
    flex-flow: column;
    margin: 20px 23px;
    position: relative;

}
.blogBlock img {
    width: 100%;
}
.date{
    width: 68px;
    height: 66px;
    background-color: #203e38;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}
.day{
    text-align: center;
    margin-top: 15px;
    color: white;
}
.month{
    text-align: center;
    margin-top: 10px;
    color: white;
}
.description{
    width: 263px;
    height: 72px;
    background-color: #f8fcfe;
    text-align: center;

}

.postname{
    color: #717171;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    margin-left: 15px;
    margin-bottom: 14px;
    margin-top: 10px;
    cursor: pointer;
}

.nameImg:hover{
    color: #18cfab;
}
.byAdmin{
    color: #777777;
    font-size: 14px;
    margin-left: 18px;
    margin-top: 7px;

}
.slash{
    color: #777777;
    font-size: 14px;
    margin-left: 9px;
    margin-top: 7px;
}
.comments{
    color: #777777;
    font-size: 14px;
    margin-left: 9px;
    margin-top: 7px;
}
.content_block{
    text-decoration: none;
}
.blogBlock a.content_block:hover .postname {
    color: #18cfab;
}
.blogBlock a.content_block:hover .date{
    background-color: #18cfab;
}

/* people say about ham */
.mount {
    background: url('../img/bg/section-3.jpg');
    background-attachment: fixed;
    height: 853px;
}
.blackBlur2 {
    background-color: rgba(0,0,0, 0.5);
    height: 853px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titles2 {
    color: white;
    font-size: 36px;
    text-align: center;
}
.fa-quote-left{
    font-size: 36px;
    color:  #18cfab;
}
.wpsahContent {
    margin-top: 44px;
    font-size: 16px;
    color: #bbbbbb;
    font-weight: 300;
    width: 1100px;
    text-align: center;
    margin: 45px auto;
    line-height: 1.88;
}
.wpsahName{
    text-transform: uppercase;
    color: #18cfab;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}
.wpsahPosition{
    color: #bbbbbb;
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}
.wpsahUser{
    width: 164px;
    height: 165px;
    border-radius: 50%;
    background-color: rgba(24,207,171,0.2);
    margin: 0 auto;
}
.userPhotoCircle {
    width: 144px;
    height: 143px;
    border-radius: 50%;
    border: 4px solid  #18cfab;
    display: inline-block;
    margin: 10px;
    overflow: hidden;
}
.userPhoto {
    width: 144px;
    height: 144px;
}
/* smallPhotos block */
.smallPhotos{
    width: 500px;
    height: 140px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftarrow , .rightarrow {
    padding: 8px 10px;
    border: 1px solid #cccccc;
    cursor: pointer;
    color: #cccccc;
    width: 31px;
    height: 31px;
    align-self: center;
    
}
.leftarrow:hover , .rightarrow:hover{
    color: #ffffff;
    background-color: #18cfab;
    border: 1px solid #18cfab;
}

.photoSmallCircle{
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
    float: left;
    margin-left: 80px;
    cursor: pointer;
}

.userSmallPhoto{
    float: left;
    margin-top: 7px;
    margin-left: 7px;
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0 0 0px 7px rgba(24,207,171,0.2);
    outline: none;
}
/* slick slider */
.slider1 {
    width: 100%;
}
.slider2 {
    width: 520px;
    display: flex;
    justify-content: center;
}
.slick-current .userSmallPhoto{
    position: relative;
    bottom: 10px;
    border: 2px solid #18cfab;
}


.footer { 
    background-color: #22353f;
}

.copyrights {
    margin: 0 auto;
}

.footer-text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  color: #aeaeae;
  text-align: center;
  padding: 47px 0;
}

.footer-ham {
    color: #18cfab;
}

/* gallery  */

.grid {
  background: #EEE;
  width: 100%;
}

.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  margin-bottom: 19px;
}

.iall {
  border: none;
  background: none;
  display: flex;
  width: 370px;
  height: 168px;
}

.item {
    width: 180px;
    height: 168px;
}
.i1 {
  width: 370px;
  height: 259px;
  background-image: url('../img/lp/landing-page1.jpg');
}
.i2 {
  width: 370px;
  height: 379px;
  background-image: url('../img/lp/landing-page2.jpg');

}

.i3, .i4 {
  width: 180px;
  height: 168px;
  background-image: url('../img/lp/landing-page3.jpg');

}
.i5 {
    width: 370px;
    height: 246px;
    background-image: url('../img/lp/landing-page2.jpg');
  
  }


.items{
    margin-bottom: 3px;
 }
 .iall2 {
    border: none;
    background: none;
    display: flex;
    flex-wrap: wrap;
    width: 380px;
    height: 292px;
  }
.i6 {
    width: 124px;
    height: 92px;
    background-image: url('../img/lp/landing-page2.jpg');
}
.i7 {
    width: 119px;
    height: 92px;
    background-image: url('../img/lp/landing-page2.jpg');
}
.i8 {
    width: 115px;
    height: 92px;
    background-image: url('../img/lp/landing-page2.jpg');
}