div {
    margin-top: 10px;
}
.number-input-onfocus {
    border: 2px solid green;
}
.invalid {
    border: 2px solid red;
}
#input {
    outline: none;
}
.currentPrice {
    border-radius: 10px;
    border: 1px solid grey;
    padding: 5px;

}

