@import url("https://use.typekit.net/anp4mla.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.wrapper {
    font-family: 'Roboto', 'Courier New', Courier, monospace,sans-serif ;
}
.header-style {
    text-align: center;
}
.style-menu-links {
    display: inline;
    color: #16A085;
    font-size: 18px;
    text-decoration: none;
}
.chapter {
    text-align: center;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 19px;
    padding-bottom: 11px;
}
.content-text-main {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 2px;
    padding-top: 34px;
}
.content-text {
    padding: 55px 54px 32px 57px;
}
.bottom-button {
    font-family: 'myriad-pro', sans-serif;
    background: #16A085;
    width: 193px;
    height: 52px;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin-bottom: 100px;
    cursor: pointer;
    margin-top: 41px;
    letter-spacing: 2px;
}
.footer-copyright {
    float: right;
    font-size: 16px;
    padding: 47px 104px 45px 0px;
    letter-spacing: 2px;
}
.content-background { 
    background: #F5F6F7;
    text-align: center;
}
.content-background img {
    width: 100%;
    height: 790px;
}
.menu-links {
    display: inline-block;
    margin: 40px;
}
.theme-btn {
    width: 120px;
    height: 30px;
    background: greenyellow;

}
.white-btn {
    width: 120px;
    height: 30px;
    background: white;
}
