@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: 'Open Sans', sans-serif;
}


/* header */
.header {
    background-color: #1d2124;
    display: flex;
    justify-content: space-between;
}
.left-logo {
    background-color: #1D2124;
    display: flex;
}
.arch-logo {
    background-color: #1A1D20;
    padding: 17px 16px 16px 16px;
    
}
.logo-text {
    font-size: 22px;
    font-weight: bold;
    color: white;
    padding: 19px 0 20px 5px;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-list a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 23px 28px 12px;
}
.additional {
    font-size: 12px;


}
.menu-list a:hover {
    text-decoration: underline;
}
.icon-search-style {
    display: flex;
    background-color: #1A1D20;
    padding: 20px;
    color: white;
}
/* cityphoto-paralax */

.city-news {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 387px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img//html_css_homework_homework6_img_header-bg.jpeg);
    background-size: cover;
    background-position: 50% 150%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title {
    font-size: 27px;
    color: white;
    text-transform: uppercase;
}
.buttons {
    margin-top: 44px;
}
.btn {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}
.top-btn-subscribe{
    background-color: #89ca62;
    margin-right: 20px;
    padding: 20px 21px;
}
.top-btn-articles {
    background-color: #14b9d5;
    padding: 20px 32px;
}
/* content with photos */
.popular-posts {
    background-color: #F2F2F2;
    text-align: center;
    padding-bottom: 72px;
}
.container {
    display: flex;
    justify-content:center;
}
.container div {
    margin-right: 11px;
}
.most-popular-post {
    color:#18B4CF;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 45px;
    padding-bottom: 20px;
}
.block1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    /* justify-content: space-between; */
}
.photo1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    width: 370px;
    background-color: #FFFFFF;
    margin-bottom: 16px;
}
.photo1 img {
    width: 100%;
}
.photo4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 320px;
    width: 370px;
    background-color: #FFFFFF;
}
.link {
    padding: 15px 10px 15px;
    text-decoration: none;
    color: #353A3D;
    font-size: 18px;
    font-weight: bold;
}

.block2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;

}
.photo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 441px;
    width: 370px;
    background-color: #FFFFFF;
    margin-bottom: 16px;

}
.photo5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 309px;
    width: 370px;
    background-color: #FFFFFF;

}
.block3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
}
.photo3{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 355px;
    width: 370px;
    background-color: #FFFFFF;
    margin-bottom: 16px;

}
.photo6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 441px;
    width: 370px;
    background-color: #FFFFFF;

}
/* our most popular clients */
.most-popular-clients{
    height: 590px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/html_css_homework_homework6_img_parallax-bg.jpeg);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
 .cients-title {
     font-size: 32px;
     font-weight: bold;
     color: #FFFFFF;
     text-transform: uppercase;
     justify-self: center;
     align-self: end;
 }
 .clients-title-line {
     justify-self: center;
     align-self: center;
     height: 3px;
     width: 60px;
     background-color: #169CB4;
     border: none;
 }
 
.clients-link:hover{
    filter: invert(22%) sepia(64%) saturate(23%) hue-rotate(322deg) brightness(101%) contrast(89%);
 }
 .clients-wraper {
    justify-items: center;
    height:590px;
    width: 1171px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .cients-title       { grid-area: 1 / 2 / 2 / 4; }
    .clients-title-line { grid-area: 2 / 2 / 3 / 4; }
    .client1            { grid-area: 3 / 1 / 4 / 2; }
    .client2            { grid-area: 3 / 2 / 4 / 3; }
    .client3            { grid-area: 3 / 3 / 4 / 4; }
    .client4            { grid-area: 3 / 4 / 4 / 5; }


    /* top rated */

.top-rated-title {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color:#18B4CF;
    justify-self: center;
    align-self: center;
}
.top-rated-pictures {
    display: grid;
    grid-template-columns: repeat(7, 14.0%);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    .top-rated-title { grid-area: 1 / 4 / 2 / 5; }
    .rate-picture1   { grid-area: 2 / 1 / 3 / 2; }
    .rate-picture2   { grid-area: 2 / 2 / 3 / 3; }
    .rate-picture3   { grid-area: 2 / 3 / 3 / 4; }
    .rate-picture4   { grid-area: 2 / 4 / 3 / 5; }
    .rate-picture5   { grid-area: 2 / 5 / 3 / 6; }
    .rate-picture6   { grid-area: 2 / 6 / 3 / 7; }
    .rate-picture7   { grid-area: 2 / 7 / 3 / 8; }

    /* Hot news */
.wrapper {
    width: 1171px;
    margin: 0 auto;
}
.section-title-news {
    font-family: 'OpenSans', sans-serif;
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    grid-area: 1 / 2 / 2 / 4;
    align-self: center;
    justify-self: center;
    margin-right: 33px;
}
    
.hot-news .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 132px 306px repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
    
.hot-news .card {
    background-color: #f9f7f7;
    margin-right: 0;
}
 .card-news-center {
        width: 554px;
        height: 418px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 50px 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        margin-bottom:  32px;
    }
    
    .card-news-center .news-link {
        align-self: center;
        justify-self: end;
        padding-right: 27px;
    }
    
    .card-news-center p {
        padding-right: 27px;
    }
    
    .news-link{
        font-family: OpenSans;
        font-size: 18px;
        font-weight: bold;
        color: #353a3d;
        text-decoration: none;
        text-align: right;
    }
    
    .hot-news p {
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.5;
        text-align: right;
        color: #5b6469;
        text-align: right;
    }
    
    .news-1 {
        grid-area: 2 / 1 / 3 / 4;
        width: 856px;
        height: 259px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50px 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        
    }
    
    .news-1 .news-link {
        grid-area: 1 / 2 / 2 / 3; 
        padding-right: 24px;
        align-self: center;
    }
    
    .news-1 p {
        grid-area: 2 / 2 / 3 / 3;
        padding: 22px 24px 37px 30px;
    }
    
    .news-1-1 {
        width: 277px;
        height: 259px;
        grid-area: 2 / 4 / 3 / 5; 
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-self: end;
    }
    
    .news-1-1 .news-link {
        grid-area: 2 / 1 / 3 / 2;
        justify-self: center;
        align-self: center;
    }
    
    .news-2 {
        grid-area: 3 / 1 / 4 / 3;
    }
    
    .news-3 {
        grid-area: 3 / 3 / 4 / 5;
        justify-self: end;
    }
    
    .news-4 {
        grid-area: 4 / 1 / 5 / 3;
    }
    
    .news-5 {
        grid-area: 4 / 3 / 5 / 5; 
        justify-self: end;
    }
    
    .news-6 {
        width: 856px;
        height: 259px;
        grid-area: 5 / 2 / 6 / 5; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 50px 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        justify-self: end;
    }
    
    .news-6 .news-link {
        grid-area: 1 / 2 / 2 / 3; 
        padding-right: 24px;
        align-self: center;
    }
    
    .news-6 p {
        grid-area: 2 / 2 / 3 / 3;
        padding: 22px 24px 37px 30px;
    }
    
    .news-6-1 {
        width: 277px;
        height: 259px;
        grid-area: 5 / 1 / 6 / 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    
    .news-6-1 .news-link {
        grid-area: 2 / 1 / 3 / 2;
        justify-self: center;
        align-self: center;
    }
    
    /* footer */

    .footer {
    background-color: #1d2124;
    }
    
    .footer .wrapper {
        display: grid;
        grid-template-columns: 1fr repeat(2, 64px);
        grid-template-rows: 80px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    
    .copyrights {
        grid-area: 1 / 1 / 2 / 2;
        font-family: OpenSans;
        font-size: 13px;
        line-height: 1.62;
        color: #ffffff;
        align-self: center;
    }
    
    .footer-logo, .footer-logo-text {
        align-self: center;
        justify-self: end;
    }
    
    .footer-logo {
        grid-area: 1 / 2 / 2 / 3;
        margin-top: 5px;
    }
    
    .footer-logo-text {
        grid-area: 1 / 3 / 2 / 4; 
    }
    .icon-double-angle-up {
        font-size: 25px;
        position: fixed;
        color:#18B4CF;
        background-color:rgb(164, 243, 235);
        padding: 20px;
        border: 1px solid rgb(164, 243, 235);
        bottom: 20px;
        right: 20px;

    }
    .hidden {
        display: none;
    }

    .toggle {
        background-color: #14b9d5;
        padding: 20px 32px;
        display: block;
        margin: 0 auto;
    }

